:root {
  --ruler: 16px;
  --color-red: #ae1100;
  --color-bg: #ebecf0;
  --color-shadow: #babecc;
  --color-white: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
/* =========== RESET styles =============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
}
/* =========== /RESET styles =============*/
body {
  background-color: var(--color-bg);
}
body,
p,
input,
select,
textarea,
button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: -0.2px;
  font-size: var(--ruler);
}
.image {
  display: block;
  width: 400px;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}
.gallery {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}

.photo-card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, 0.05), 0 20px 50px 0 rgba(#000, 0.1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
  width: calc((100% - 72px) / 4);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.photo-card:hover,
.photo-card:focus-within {
  box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(#000, 0.1);
  transform: translatey(-5px);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.search-form {
  width: 200px;
  margin: 0 auto 40px;
}
button,
input {
  border: 1px solid rgba(0, 0, 0, 0.3);
  outline: 0;
  font-size: var(--ruler);
  border-radius: 4;
  padding: var(--ruler);
  background-color: #ebecf0;
  text-shadow: 1px 1px 0 var(--color-white);
}
input {
  margin-right: var(--ruler) / 2;
  box-shadow: inset 2px 2px 5px var(--color-shadow),
    inset -5px -5px 10px var(--color-white);
  width: 100%;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
}
input:focus {
  box-shadow: inset 1px 1px 2px var(--color-shadow),
    inset -1px -1px 2px var(--color-white);
}
button {
  color: #61677c;
  font-weight: bold;
  box-shadow: -5px -5px 20px var(--color-white),
    5px 5px 20px var(--color-shadow);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}
button:hover {
  box-shadow: -2px -2px 5px var(--color-white), 2px 2px 5px var(--color-shadow);
}
button:active {
  box-shadow: inset 1px 1px 2px var(--color-shadow),
    inset -1px -1px 2px var(--color-white);
}
button {
  display: block;
  width: 100%;
  color: var(--color-red);
}
.info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
